img { max-width: 100%; height: auto; }
.sidebar { width: 280px; background-color: #f8f9fa; }
.news { margin: 0; padding: 0; }
.news img { width: 200px; margin-right: 1em; float: left; }
.news li { clear: left; overflow: hidden; margin-top: 1em; margin-bottom: 1em; }
